<?xml version="1.0" encoding="utf-8"?>
<config>

    <fieldset name="db8download"
              label="COM_DB8DOWNLOAD">

        <field name="example"
               type="text"
               label="COM_DB8DOWNLOAD_FORM_LBL_EXAMPLE"
               description="COM_DB8DOWNLOAD_FORM_DESC_EXAMPLE"
               filter="safehtml"/>
    </fieldset>

    <fieldset name="permissions"
              description="JCONFIG_PERMISSIONS_DESC"
              label="JCONFIG_PERMISSIONS_LABEL">

        <field name="rules"
               type="rules"
               component="com_db8download"
               class="inputbox"
               filter="rules"
               validate="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               section="component"/>
    </fieldset>

</config>
